#
##############################################################################
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
#
# NOTE: This config file is intended to serve as an *extremely* simple
#       example of how you can create configuration entries to monitor
#       the local (Linux) machine.
#
###############################################################################



###############################################################################
#
# HOST DEFINITION
#
###############################################################################

# Define a host for the local machine

define host {

    use                     linux-server            ; Name of host template to use
                                                    ; This host definition will inherit all variables that are defined
                                                    ; in (or inherited by) the linux-server host template definition.
    host_name               AWSLinux01
    alias                   AWSLinux01
    address                 54.234.30.166
}
define host {

    use                     linux-server            ; Name of host template to use
                                                    ; This host definition will inherit all variables that are defined
                                                    ; in (or inherited by) the linux-server host template definition.
    host_name               RedHat02
    alias                   RedHat02
    address                 3.89.106.51
}
define host {

    use                     linux-server            ; Name of host template to use
                                                    ; This host definition will inherit all variables that are defined
                                                    ; in (or inherited by) the linux-server host template definition.
    host_name               RedHatAdmin
    alias                   RedHatAdmin
    address                 3.85.126.134
}
define host {

    use                     linux-server            ; Name of host template to use
                                                    ; This host definition will inherit all variables that are defined
                                                    ; in (or inherited by) the linux-server host template definition.
    host_name               RedHat01
    alias                   RedHat01
    address                 23.20.80.250
}

###############################################################################
#
# HOST GROUP DEFINITION
#
###############################################################################

# Define an optional hostgroup for Linux machines

define hostgroup {

    hostgroup_name          Aws-servers           ; The name of the hostgroup
    alias                   Aws Servers           ; Long name of the group
    members                 AWSLinux01,RedHat02,RedHat01 ; Comma separated list of hosts that belong to this group
}
define hostgroup {

    hostgroup_name          RedHat-servers           ; The name of the hostgroup
    alias                   RedHat Servers           ; Long name of the group
    members                 RedHatAdmin ; Comma separated list of hosts that belong to this group
}



###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################

# Define a service to "ping" the local machine
define service {

    use                     local-service           ; Name of service template to use
    host_name               AWSLinux01
    service_description     PING
    check_command           check_ping!100.0,20%!500.0,60%
}
define service {

    use                     local-service           ; Name of service template to use
    host_name               RedHat02
    service_description     PING
    check_command           check_ping!100.0,20%!500.0,60%
}
define service {

    use                     local-service           ; Name of service template to use
    host_name               RedHatAdmin
    service_description     PING
    check_command           check_ping!100.0,20%!500.0,60%
}
define service {

    use                     local-service           ; Name of service template to use
    host_name               RedHat01
    service_description     PING
    check_command           check_ping!100.0,20%!500.0,60%
}
# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.
define service {

    use                     local-service           ; Name of service template to use
    host_name               AWSLinux01
    service_description     Root Partition
    check_command           check_local_disk!20%!10%!/
}
define service {

    use                     local-service           ; Name of service template to use
    host_name               RedHat02
    service_description     Root Partition
    check_command           check_local_disk!20%!10%!/
}
define service {

    use                     local-service           ; Name of service template to use
    host_name               RedHatAdmin
    service_description     Root Partition
    check_command           check_local_disk!20%!10%!/
}
define service {

    use                     local-service           ; Name of service template to use
    host_name               RedHat01
    service_description     Root Partition
    check_command           check_local_disk!20%!10%!/
}
# Users connected vía traps
define service{
        use                     generic-service
        host_name               AWSLinux01
        service_description     User Conected
        check_command           check_snmp_range!comread!.1.3.6.1.2.1.25.1.5.0!5!10
        }
define service{
        use                     generic-service
        host_name               RedHat02
        service_description     User Conected
        check_command           check_snmp_range!comread!.1.3.6.1.2.1.25.1.5.0!5!10
        }

define service{
        use                     generic-service
        host_name               RedHatAdmin
        service_description     User Conected
        check_command           check_snmp_range!leer!.1.3.6.1.2.1.25.1.5.0!5!10
        }
define service{
        use                     generic-service
        host_name               RedHat01
        service_description     User Conected
        check_command           check_snmp_range!leer!.1.3.6.1.2.1.25.1.5.0!5!10
        }

# Define a service to check the load on the local machine.
define service {

    use                     local-service           ; Name of service template to use
    host_name               AWSLinux01
    service_description     Current Load
    check_command           check_local_load!5.0,4.0,3.0!10.0,6.0,4.0
}
define service {

    use                     local-service           ; Name of service template to use
    host_name               RedHat02
    service_description     Current Load
    check_command           check_local_load!5.0,4.0,3.0!10.0,6.0,4.0
}
define service {

    use                     local-service           ; Name of service template to use
    host_name               RedHatAdmin
    service_description     Current Load
    check_command           check_local_load!5.0,4.0,3.0!10.0,6.0,4.0
}
define service {

    use                     local-service           ; Name of service template to use
    host_name               RedHat01
    service_description     Current Load
    check_command           check_local_load!5.0,4.0,3.0!10.0,6.0,4.0
}


# Define a service to check the swap usage the local machine.
# Critical if less than 10% of swap is free, warning if less than 20% is free
define service {

    use                     local-service           ; Name of service template to use
    host_name               AWSLinux01
    service_description     Swap Usage
    check_command           check_local_swap!20%!10%
}
define service {

    use                     local-service           ; Name of service template to use
    host_name               RedHat02
    service_description     Swap Usage
    check_command           check_local_swap!20%!10%
}
define service {

    use                     local-service           ; Name of service template to use
    host_name               RedHatAdmin
    service_description     Swap Usage
    check_command           check_local_swap!20%!10%
}
define service {

    use                     local-service           ; Name of service template to use
    host_name               RedHat01
    service_description     Swap Usage
    check_command           check_local_swap!20%!10%
}
# Define a service to check SSH on the local machine.
# Disable notifications for this service by default, as not all users may have SSH enabled.
define service {

    use                     local-service           ; Name of service template to use
    host_name               AWSLinux01
    service_description     SSH
    check_command           check_ssh
    notifications_enabled   1
}
define service {

    use                     local-service           ; Name of service template to use
    host_name               RedHat02
    service_description     SSH
    check_command           check_ssh
    notifications_enabled   1
}
define service {

    use                     local-service           ; Name of service template to use
    host_name               RedHatAdmin
    service_description     SSH
    check_command           check_ssh
    notifications_enabled   1
}
define service {

    use                     local-service           ; Name of service template to use
    host_name               RedHat01
    service_description     SSH
    check_command           check_ssh
    notifications_enabled   1
}
# Define a service to check HTTP on the local machine.
# Disable notifications for this service by default, as not all users may have HTTP enabled.
define service {

    use                     local-service           ; Name of service template to use
    host_name               AWSLinux01
    service_description     HTTP
    check_command           check_http
    notifications_enabled   1
}
define service {

    use                     local-service           ; Name of service template to use
    host_name               RedHat02
    service_description     HTTP
    check_command           check_http
    notifications_enabled   1
}
define service {

    use                     local-service           ; Name of service template to use
    host_name               RedHatAdmin
    service_description     HTTP
    check_command           check_http
    notifications_enabled   1
}
define service {

    use                     local-service           ; Name of service template to use
    host_name               RedHat01
    service_description     HTTP
    check_command           check_http
    notifications_enabled   1
}
define command{
command_name check_snmp_info
command_line /usr/local/nagios/libexec/check_snmp -H '$HOSTADDRESS$' -C '$ARG1$' -o '$ARG2$'
}

define command{
command_name check_snmp_range
command_line /usr/local/nagios/libexec/check_snmp -H '$HOSTADDRESS$' -C '$ARG1$' -o '$ARG2$' -w '$ARG3$' -c '$ARG4$'
}


define service{
        use                     generic-service
        host_name               RedHat02
        service_description     System UpTime
        check_command           check_snmp_info!comread!.1.3.6.1.2.1.25.1.1.0!
        }

define service{
        use                     generic-service
        host_name               RedHatAdmin
        service_description     System UpTime
        check_command           check_snmp_info!leer!.1.3.6.1.2.1.25.1.1.0!
        }
define service{
        use                     generic-service
        host_name               AWSLinux01
        service_description     System UpTime
        check_command           check_snmp_info!comread!.1.3.6.1.2.1.25.1.1.0!
        }
define service{
        use                     generic-service
        host_name               RedHat01
        service_description     System UpTime
        check_command           check_snmp_info!comread!.1.3.6.1.2.1.25.1.1.0!
        }
#
#Adicionesle Servicios

#Procesos en el sistema

define service{
        use                     generic-service
        host_name               AWSLinux01
        service_description     System Process
        check_command           check_snmp_range!comread!.1.3.6.1.2.1.25.1.6.0!100!150!
        }
define service{
        use                     generic-service
        host_name               RedHat02
        service_description     System Process
        check_command           check_snmp_range!comread!.1.3.6.1.2.1.25.1.6.0!100!150!
        }
define service{
        use                     generic-service
        host_name               RedHatAdmin
        service_description     System Process
        check_command           check_snmp_range!leer!.1.3.6.1.2.1.25.1.6.0!100!150!
        }
define service{
        use                     generic-service
        host_name               RedHat01
        service_description     System Process
        check_command           check_snmp_range!comread!.1.3.6.1.2.1.25.1.6.0!100!150!
        }
#Paquetes snmp recibidos

define service{
        use                             generic-service         
        host_name                       AWSLinux01
        service_description             Snmp In Packets
        check_command                   check_snmp_info!comread!1.3.6.1.2.1.11.1.0!
        }
define service{
        use                             generic-service         
        host_name                       RedHat02
        service_description             Snmp In Packets
        check_command                   check_snmp_info!comread!1.3.6.1.2.1.11.1.0!
        }
define service{
        use                             generic-service         
        host_name                       RedHatAdmin
        service_description             Snmp In Packets
        check_command                   check_snmp_info!leer!1.3.6.1.2.1.11.1.0!
        }
define service{
        use                             generic-service
        host_name                       RedHat01
        service_description             Snmp In Packets
        check_command                   check_snmp_info!comread!1.3.6.1.2.1.11.1.0!
        }
#Paquetes snmp Salientes

define service{
        use                             generic-service        
        host_name                       AWSLinux01
        service_description             Snmp Out Packets
        check_command                   check_snmp_info!comread!1.3.6.1.2.1.11.2.0!
        }
define service{
        use                             generic-service        
        host_name                       RedHat02
        service_description             Snmp Out Packets
        check_command                   check_snmp_info!comread!1.3.6.1.2.1.11.2.0!
        }
define service{
        use                             generic-service        
        host_name                       RedHatAdmin
        service_description             Snmp Out Packets
        check_command                   check_snmp_info!leer!1.3.6.1.2.1.11.2.0!
        }
define service{
        use                             generic-service
        host_name                       RedHat01
        service_description             Snmp Out Packets
        check_command                   check_snmp_info!comread!1.3.6.1.2.1.11.2.0!
        }

#RAM

define service{
        use                             generic-service        
        host_name                       AWSLinux01
        service_description             Free RAM
        check_command                   check_snmp_info!comread!.1.3.6.1.4.1.2021.4.11.0!150000!100000!
        }
define service{
        use                             generic-service        
        host_name                       RedHat02
        service_description             Free RAM
        check_command                   check_snmp_info!comread!.1.3.6.1.4.1.2021.4.11.0!1500000!100000!
        }
define service{
        use                             generic-service        
        host_name                       RedHatAdmin
        service_description             Free RAM
        check_command                   check_snmp_info!leer!.1.3.6.1.4.1.2021.4.11.0!1500000!100000!
        }
define service{
        use                             generic-service
        host_name                       RedHat01
        service_description             Free RAM
        check_command                   check_snmp_info!comread!.1.3.6.1.4.1.2021.4.11.0!1500000!100000!
        }

#Nombre de Systema

define service{
        use                             generic-service        
        host_name                       AWSLinux01
        service_description             Sys Name
        check_command                   check_snmp_info!comread!.1.3.6.1.2.1.1.5.0!
        }
define service{
        use                             generic-service        
        host_name                       RedHat02
        service_description             Sys Name
        check_command                   check_snmp_info!comread!.1.3.6.1.2.1.1.5.0!
        }
define service{
        use                             generic-service        
        host_name                       RedHatAdmin
        service_description             Sys Name
        check_command                   check_snmp_info!leer!.1.3.6.1.2.1.1.5.0!
        }
define service{
        use                             generic-service
        host_name                       RedHat01
        service_description             Sys Name
        check_command                   check_snmp_info!comread!.1.3.6.1.2.1.1.5.0!
        }

#Informacion del Sistema

define service{
        use                             generic-service        
        host_name                       AWSLinux01
        service_description             Sys Info
        check_command                   check_snmp_info!comread!.1.3.6.1.2.1.1.1.0!
        }
define service{
        use                             generic-service        
        host_name                       RedHat02
        service_description             Sys Info
        check_command                   check_snmp_info!comread!.1.3.6.1.2.1.1.1.0!
        }
define service{
        use                             generic-service        
        host_name                       RedHatAdmin
        service_description             Sys Info
        check_command                   check_snmp_info!leer!.1.3.6.1.2.1.1.1.0!
        }
define service{
        use                             generic-service
        host_name                       RedHat01
        service_description             Sys Info
        check_command                   check_snmp_info!comread!.1.3.6.1.2.1.1.1.0!
        }
